.brands {
    background: #0F0F0F;
}

.brands__wrapper {
    display: grid;
    padding: 60px 0 70px;
    row-gap: 80px;
}

.brands__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.brands__img {
    flex: 0 0 23%;
}

@media (max-width: 991px) {
    .brands__wrapper {
        padding: 40px 0;
        row-gap: 60px;
    }
}