*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1;
  font-family: inherit;
}

input,
textarea,
button {
  border: none;
  outline: none;
  resize: none;
  background: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  min-width: 320px;
  /* background: #000; */
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}