.watch {
    background: #000000;
}

.watch__title {
    padding-top: 120px;
}

.watch__wrapper {
    padding: 120px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 23px;
}

.watch__card {
    flex: 0 0 23%;
}

@media (max-width: 767px) {
    .watch__card {
        flex-basis: 45%;
    }

    .watch__wrapper {
        padding: 80px 0;
    }

    .watch__title {
        padding-top: 80px;
    }
}

@media (max-width: 425px) {
    .watch__card {
        flex-basis: 90%;
    }

    .watch__card:nth-child(even) {
        display: none;
    }

    .watch__title {
        padding-top: 40px;
        font-size: 22px !important;
    }
}